@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "RobotoMono";
	src: url("../fonts/RobotoMono-BoldItalic.woff2") format("woff2"), url("../fonts/RobotoMono-BoldItalic.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: italic;
}
*{
	font-size: 20px;
	font-family:"CircularStd", serif;
	font-weight: 500;
}
h2{
	text-decoration: underline;
	font-size: 24px;
	font-family:"CircularStd", serif;
	font-weight: 700;
}
.content_list.text
{
	text-decoration: underline;
	font-size: 22px;
	font-family:"CircularStd", serif;
	font-weight: 700;
}
.blue
{
	background-color: blue;
	padding: 10px 0px;
	color: yellow;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 5px;
	font-size: 25px;
	text-shadow: 2px 2px 5px #000;
	font-family:"RobotoMono", serif;
	font-weight: 700;
}
.yellow{
	background-color: yellow;
	padding: 10px 0px;
	color: blue;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 5px;
	font-size: 25px;
	text-shadow: 2px 2px 5px #000;
	font-family:"RobotoMono", serif;
	font-weight: 700;
}

ul li {
	padding: 10px;
	text-decoration: underline;
	list-style: circle;
	text-transform: capitalize;
	word-spacing: 3px;
}
main{
	margin: 0 40px;
}
.content_list{
	margin: 20px 0;
	padding: 20px 0px;
}
.content_list ul{
	margin: 20px 0;
}
a {
	color: blue;
}
.introduction{
	text-indent: 40px;
	padding-bottom: 20px;
}
h2{
	padding-bottom: 20px;
	text-align: center;
}
.careful_start__text{
	padding-bottom: 20px;
}
.careful_start__video{
	text-align: center;
	padding-bottom: 20px;
}
.city_halls_atack__text
{
	padding-bottom: 20px;
}
.political_and_cultural_background__text{
	padding-bottom: 20px;
}
.political_and_cultural_background__img{
	text-align: center;
	padding-bottom: 20px;
	max-width: 100%;
}
.political_and_cultural_background__video
{
	padding-bottom: 20px;
	text-align: center;
}

.political_and_cultural_background__img{
	padding-bottom: 20px;
	max-width: 100%;
}
.how_the_authorities_should_react__text
{
	padding-bottom: 20px;
}
.how_the_authorities_should_react__img{
	text-align: center;
	padding-bottom: 20px;
	max-width: 100%;
}

.corruption_of_odesss__text
{
	padding-bottom: 20px;
}
.back_yellow{
	background-color: yellow;
	text-transform: uppercase;
}
.corruption_of_odesss__img{
	text-align: center;
	padding-bottom: 20px;
	max-width: 100%;
}

.the_end__text{
	padding-bottom: 20px;
}
